/* Override this file with custom rules *//* Override this file with custom rules */

.fixed_header{
    background: #cc342d;
  }
  
  #full_list_header{
    color: #fff;
  }
  #full_list_nav a{
    color: #eee
  }
  #full_list_nav a:hover{
    color: #fff
  }
  
  #search{
    color: #fff8;
  }